coursework-deliverables/design-artifacts/catalog-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://globalbooks.com/catalog"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
             targetNamespace="http://globalbooks.com/catalog"
             elementFormDefault="qualified">

  <types>
    <xs:schema targetNamespace="http://globalbooks.com/catalog">
      
      <xs:element name="getBookDetailsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="getBookDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="book" type="tns:book"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:complexType name="book">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="title" type="xs:string"/>
          <xs:element name="author" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>

  <message name="getBookDetailsRequest">
    <part name="parameters" element="tns:getBookDetailsRequest"/>
  </message>

  <message name="getBookDetailsResponse">
    <part name="parameters" element="tns:getBookDetailsResponse"/>
  </message>

  <portType name="BooksPort">
    <operation name="getBookDetails">
      <input message="tns:getBookDetailsRequest"/>
      <output message="tns:getBookDetailsResponse"/>
    </operation>
  </portType>

  <binding name="BooksPortSoap11" type="tns:BooksPort">
    <soap:binding style="document" 
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- WS-Security Policy: Username Token Required -->
    <wsp:PolicyReference URI="#UsernameTokenPolicy"/>
    <operation name="getBookDetails">
      <soap:operation soapAction=""/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- WS-Security Policy Definition -->
  <wsp:Policy wsu:Id="UsernameTokenPolicy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsse:SecurityToken>
      <wsse:UsernameToken wsp:Usage="wsp:Required">
        <wsse:Username/>
        <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
      </wsse:UsernameToken>
    </wsse:SecurityToken>
  </wsp:Policy>

  <service name="BooksPortService">
    <documentation>Catalog Service for GlobalBooks SOA System - Secured with WS-Security Username Token</documentation>
    <port name="BooksPortSoap11" binding="tns:BooksPortSoap11">
      <soap:address location="http://localhost:8085/ws/catalog"/>
    </port>
  </service>

</definitions>
