coursework-deliverables/design-artifacts/order-process.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://globalbooks.com/orders"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
             targetNamespace="http://globalbooks.com/orders"
             elementFormDefault="qualified">

    <types>
        <xsd:schema targetNamespace="http://globalbooks.com/orders"
                    elementFormDefault="qualified">
            
            <xsd:element name="ProcessOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:string"/>
                        <xsd:element name="bookId" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ProcessOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
    </types>

    <message name="ProcessOrderRequest">
        <part name="parameters" element="tns:ProcessOrderRequest"/>
    </message>

    <message name="ProcessOrderResponse">
        <part name="parameters" element="tns:ProcessOrderResponse"/>
    </message>

    <portType name="OrdersPort">
        <operation name="ProcessOrder">
            <input message="tns:ProcessOrderRequest"/>
            <output message="tns:ProcessOrderResponse"/>
        </operation>
    </portType>

    <binding name="OrdersBinding" type="tns:OrdersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- WS-Security Policy: Username Token Required -->
        <wsp:PolicyReference URI="#UsernameTokenPolicy"/>
        <operation name="ProcessOrder">
            <soap:operation soapAction="processOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- WS-Security Policy Definition -->
    <wsp:Policy wsu:Id="UsernameTokenPolicy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsse:SecurityToken>
            <wsse:UsernameToken wsp:Usage="wsp:Required">
                <wsse:Username/>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
            </wsse:UsernameToken>
        </wsse:SecurityToken>
    </wsp:Policy>

    <service name="OrdersService">
        <documentation>Order Processing Service for GlobalBooks SOA System - Secured with WS-Security Username Token</documentation>
        <port name="OrdersPort" binding="tns:OrdersBinding">
            <soap:address location="http://localhost:8086/ws/order-process"/>
        </port>
    </service>

</definitions>